# Aula de Python 01/02/2020 - Senai

Aula de introdução do Python

In [30]:
#isso é um comentário e não vai ser lido
a = 10
b = 20
c = 30
e = 105.5

Operadores Aritméticos

In [12]:
a

10

Soma

In [17]:
a+b

30

Subtração

In [23]:
a-b

-10

In [18]:
(a+b)+c

60

Divisão

In [19]:
a/b

0.5

In [20]:
b/a

2.0

Multiplicação

In [21]:
b*c

600

Exponenciação

In [22]:
a**c

1000000000000000000000000000000

String

In [25]:
d = 'Meu primeiro olá mundo(mentira)'

In [26]:
#print
#Função que imprime na tela
print(d)

Meu primeiro olá mundo(mentira)

In [31]:
#type
#Função que mostra o tipo do dado 
type(e)

float

Funções para tratamento de strings

In [37]:
d.upper()

'MEU PRIMEIRO OLÁ MUNDO(MENTIRA)'

In [38]:
d1 = "MEU PRIMEIRO OLÁ MUNDO(MENTIRA)"
d1.casefold()

'meu primeiro olá mundo(mentira)'

Anotações

Sets = (  )
S1 = (10, 20, 30, 40, 50)

In [44]:
S1 = {10, 20, 30, 40, 50}
S2 = {20, 40, 60, 80, 100}

In [40]:
S1

(10, 20, 30, 40, 50)

In [45]:
type(S1)

set

Tipo de dados multaveis e não multaveis

( )  Turplas - Não são
[ ]  Listas - São Multaveis
{ }  Sets - São Multaveis
{ }  Dicts

In [46]:
S1.intersection(S2)

{20, 40}

In [47]:
bd = ['ola', 'mundo']

In [48]:
type(bd)

list

In [49]:
bd.append('!')

In [54]:
bd

['ola', 'mundo', '!']

In [53]:
bd.reverse()

In [55]:
#Declarando um tupla
x,y,z = 1,2,3

In [56]:
type(x)

int

In [57]:
k = (1,2,3)

In [61]:
#Declarando um dicionário
dict1 = {'nome': ["Leonardo", "Carlos", "Vanda"],
        'idade': [25,32,50],
        'Peso' : [89,102,50]}

In [63]:
type(dict1)

dict